[user]
    name = Alejandro Blanco
    email = alejandro@blalop.me
[core]
    editor = vi

[merge]
    tool = diff

[color]
    ui = true

[alias]
    a = add -A
    b = branch
    cam = !git add -A && git commit -avm
    cl = clone
    cm = commit -m
    co = checkout
    cob = checkout -b
    st = status -s
    sh = stash
