[user]
    name = Alejandro Blanco
    email = alejandro@blalop.me
[core]
    editor = vi

[merge]
    tool = diff

[color]
    ui = true

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit -m
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
