#!/bin/bash

mkd() {
    mkdir -p "$@" && cd "$@" || return
}

unbox() {
    if [ -z $1 ]; then
        echo "Usage: unbox <filename>" && return 1
    elif [ -f $1 ]; then
        case $(file -b --mime-type $1) in
            application/x-7z-compressed) 7za x $1;;
            application/x-rar) unrar x $1;;
            application/x-tar) tar -xf $1;;
            application/gzip) tar -xf $1;;
            application/x-xz) tar -xf $1;;
            application/zip) unzip $1;;
            application/vnd.debian.binary-package) ar x $1;;
            *) echo "mime-type not supported" && return 1;;
        esac
    else
        echo "$1 is not valid file" && return 1
    fi
}
